{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="products">
        <div class="foundation-base">
            <div class="foundation-wrapper">
                <h1 class='products-title'>Products</h1>
                {% if current_categories %}
                    <div class='tags mb16'>
                    {% for c in current_categories %}
                        <a href="{% url 'products' %}?category={{ c.name}}">{{ c.friendly_name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="sorting-wrapper">
                    <select name="products-sorting" id="products-sorting">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                    </select>
                </div>
                <div class="">
                    <p class="">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class=""><a href="{% url 'products' %}">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
                <div class='products-wrapper'>
                    {% for product in products %}
                    <a class='fake-anchor' href="{% url 'product_detail' product.id %}">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ product.image_url}}"/>
                        </div>
                        <div class="card-data">
                            <p class="products-name">{{ product.name|truncatechars:30 }}</p>
                            <p class="products-category">in {{ product.category.friendly_name }}</p>
                            <div class="products-pricerating">
                                <p class="products-price">€{{ product.price|floatformat:"2g" }}</p>
                                <p class="products-rating">{{ product.rating }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs%}
{{ block.super }}
<script type='text/javascript'>
// TODO: ADD functionality for scroll to top
    $('#products-sorting').change(function() {
        const selector = $(this);
        const currentUrl = new URL(window.location);
        let selectedValue = selector.val();

        if(selectedValue !== 'reset') {
            const [sort, direction] = selectedValue.split('_');
            currentUrl.searchParams.set('sort', sort);
            currentUrl.searchParams.set('direction', direction);
        } else {
            currentUrl.searchParams.delete('sort');
            currentUrl.searchParams.delete('direction');
        }
        window.location.replace(currentUrl);
    })
</script>
{% endblock %}