{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="products">
        <div class="foundation-base">
            <div class="foundation-wrapper product-detail">
                <h1 class='product-title'>{{ product.name }}</h1>
                <div class="product-data">
                    <div class="product-image">
                        <img src="{{product.image_url}}" alt="Product image">
                    </div>
                    <div class="product-information">
                        <div class="product-pricerating mb16-md">
                            <p>€{{product.price}}</p>
                            <p>{{product.rating|floatformat:"2g"}}/5 Stars</p>
                        </div>
                        <p class='product-description'>{{ product.description}}</p>
                        <p class='product-category mb16-md'>in {{ product.category.friendly_name }}</p>
                        <form action="{% url 'add_to_cart' product.id %}" method="post" class='product-form'>
                            {% csrf_token %}
                            <p>Quantity:</p>
                            <input type='number' value='1' min='1' max='99' name="quantity" id="id_qty_{{ product.id }}}" class='product-quantity mb16-md' data-item-id="{{ product.id }}"/>
                            <div class="product-buttons">
                                <a href="{% url 'products' %}" class='secondary-btn sm mb8 mb16-lg'>Keep Shopping</a>
                                {% if request.user.is_superuser %}
                                <button type='submit' class='primary-btn sm mb8 mb16-lg'>Add to Cart</button>
                                <a href="{% url 'edit_product' product.id %}" class='secondary-btn sm mb8 mb16-lg'>Edit</a>
                                <a href="{% url 'delete_product' product.id %}" class='secondary-btn sm mb8 mb16-lg'>Delete</a>
                                {% else %}
                                <button type='submit' class='primary-btn sm'>Add to Cart</button>
                                {% endif %}
                            </div>
                            <div class="sticky-buttons-wrapper">
                                <a href="{% url 'products' %}" class='secondary-btn sm'>Keep shopping</a>
                                <button type='submit' class='primary-btn sm'>Add to Cart</button>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                        <form action="{% url 'add_to_saved' product.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <button type='submit' class='primary-btn sm mb8 mb16-lg'>Save</button>
                        </form>
                        {% if request.user.is_superuser %}
                            <small class='mobile-super-user ml-3'>
                                <a href="{% url 'edit_product' product.id %}" class='secondary-btn sm mb8 mb16-lg'>Edit</a>
                                <a href="{% url 'delete_product' product.id %}" class='secondary-btn sm mb8 mb16-lg'>Delete</a>
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="why-buy-wrapper">
                <div class="foundation-wrapper product-detail">
                    <div class='why-buy-banner'>
                        <h4 class='why-buy-title'>Why buy refurbished?</h4>
                        <div class="why-buy-grid">
                            <div class="why-buy-item">
                                <i class="fas fa-battery-full fa-lg"></i>
                                <p>You get power capabilities that match that of a brand new computer.</p>
                            </div>
                            <div class="why-buy-item why-buy-item-reverse">
                                <p>You get power capabilities that match that of a brand new computer.</p>
                                <i class="fas fa-battery-full fa-lg"></i>
                            </div>
                            <div class="why-buy-item">
                                <i class="fas fa-battery-full fa-lg"></i>
                                <p>You get power capabilities that match that of a brand new computer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if related_products %}
            <div class="related-products-wrapper foundation-wrapper product-detail">
                <h4 class='related-products-title'>You may also like</h4>
                <div class='products-wrapper'>
                {% for related_product in related_products|slice:":4" %}
                    <a class='fake-anchor' href="{% url 'product_detail' related_product.id %}">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ related_product.image_url}}"/>
                        </div>
                        <div class="card-data">
                            <p class="products-name">{{ related_product.name|truncatechars:30 }}</p>
                            <p class="products-category">in {{ related_product.category.friendly_name }}</p>
                            <div class="products-pricerating">
                                <p class="products-price">€{{ related_product.price|floatformat:"2g" }}</p>
                                <p class="products-rating">{{ related_product.rating }}</p>
                            </div>
                        </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
            {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}