:root {
    --WHITE: #FFFFFF;
    --OFFWHITE: #F2F2F2;
    --BLACK: #000000;
    --OFFBLACK: #0D0D0D;
    --PURPLE: #531CB3;
    --PURPLE_PLUM: #944BBB;
    --AFRICAN_VIOLET: #AA7BC3;
    --ORCHID_CRAYOLA: #CC92C2;
    --PASTEL_PINK: #DBA8AC;
}

body {
    font-family: 'PT Mono', monospace;
}

header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--OFFWHITE);
    height: 100px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9900;
}

.header-offset {
    margin-top: 100px;
}

.site_logo {
    font-size: 24px;
    color: var(--PURPLE_PLUM);
    text-decoration: none;
}

.site_logo:hover {
    font-size: 24px;
    color: var(--PURPLE_PLUM);
    text-decoration: none;
}

.header-search {
    display: none;
}

.header-nav {
    display: none;
}

.header-icons-container {
    display: none;
}

.header-dropdown {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    border-radius: 0 0 24px 24px;
    background-color: var(--OFFWHITE);
    height: 80vh;
    animation: headerDropdown 800ms ease-in-out forwards;
    z-index: 9000;
    padding: 24px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.dropdown-close {
    top: -60vh;
    transition: top 800ms ease-in-out;
}

.dd-auth {
    margin-bottom: 18px;
}

.dd-auth > p {
    margin-bottom: 12px;
}

.dd-section {
    margin-bottom: 24px;
}

.dd-section > p {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 8px;
}

.dd-ul {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.dd-ul > a {
    text-decoration: none;
    color: var(--OFFBLACK);
    font-size: 14px;
    line-height: 18px;
}

/* Banner */

.delivery-banner {
    background-color: var(--OFFBLACK);
    padding: 12px;
    font-size: 14px;
    color: var(--PASTEL_PINK);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
}

/* Footer */

footer {
    background-color: var(--OFFBLACK);
    color: white;
    height: 40vh;
    padding: 18px;
}

/* Homepage */

.home-search-container {
    background-color: var(--PURPLE);
    padding: 28px 24px 48px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-form > label {
    color: var(--WHITE);
    font-size: 28px;
    margin-bottom: 16px;
 }

.input-container {
    width: 100%;
    max-width: 700px;
}

.search-container {
    position: relative;
    height: 48px;
    display: flex;
}

.search-container > input {
    border: 0;
    outline: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 0 8px;
    font-size: 18px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.search-container > input::placeholder {
    color: var(--PASTEL_PINK);
}

.search-container > input:focus {
    border-radius: 8px 8px 0 0;
}

.search-container > input:focus ~ button {
    border-radius: 8px 8px 0 8px;
}

.search-container > button {
    border: 0;
    outline: 0;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    width: 48px;
    border-radius: 8px;
    background-color: var(--PASTEL_PINK);
}

.search-suggestions {
    background-color: var(--WHITE);
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    max-width: 700px;
    padding: 8px 0;
    border-radius: 0 0 8px 8px;
    z-index: 9000;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.search-items > li {
    padding: 8px;
    cursor: pointer;
}

.search-items > li:hover {
    background-color: var(--OFFWHITE);
}

.home-container {
    background: url('/media/homepage_hero.jpg') no-repeat center center fixed;
    background-size: cover; 
    height: 400px;
    width: auto;
}

.home-hero-overlay {
    background-color:rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    position: relative;
}

.home-hero-text {
    position: absolute;
    top: 36px;
    left: 24px;
    font-size: 1.5em;
    line-height: 1.8em;
    width: 80vw;
    color: var(--OFFWHITE);
}

.home-hero-btn {
    position: absolute;
    bottom: 36px;
    right: 24px;
}

/* Products page */

.products-title {
    font-size: 28px;
    color: var(--AFRICAN_VIOLET);
    margin-bottom: 28px;
}

.sorting-wrapper {
    margin-bottom: 16px;
}

.products-home {
    margin-bottom: 8px;
}

.products-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.products-name {
    font-size: 14px;
}

.products-category {
    font-size: 12px;
    color: var(--PASTEL_PINK);
    margin-bottom: 8px;
}

.products-pricerating {
    display: flex;
    justify-content: space-between;
}

.products-price {
    font-size: 14px;
    color: var(--PURPLE);
    font-weight: 600;
}

.products-rating {
    font-size: 14px; 
}

/* Product Detail page */

.product-detail {
    min-height: 100px !important;
}

.product-title {
    font-size: 24px;
    margin-bottom: 24px;
}

.product-image {
    width: 100%;
}

.product-image > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
    margin-bottom: 24px;
}

.product-pricerating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.product-pricerating > p:first-child {
    color: var(--AFRICAN_VIOLET);
}

.product-description {
    font-size: 14px;
    margin-bottom: 24px;
}

.product-buttons {
    display: none;
}

.why-buy-wrapper {
    background: linear-gradient(to bottom right, var(--PURPLE_PLUM), var(--PURPLE));
}

.why-buy-wrapper > div {
    background-color: transparent !important;
}

.why-buy-banner {
    margin-bottom: 28px;
}

.why-buy-title {
    color: var(--OFFWHITE);
    font-size: 24px;
    margin-bottom: 16px;
}

.why-buy-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 12px;
}

.why-buy-item {
    display: grid;
    grid-template-columns: 24px 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    color: var(--WHITE);
    font-size: 12px;
}

.why-buy-item-reverse {
    grid-template-columns: 1fr 48px;
}

.related-products-title {
    font-size: 24px;
    margin-bottom: 28px;
}

/* Cart page */

.cart {
    max-width: 100% !important;
}

.cart-title {
    font-size: 24px;
    margin-bottom: 24px;
}

.total-heading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.cart-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--PASTEL_PINK);
    margin-bottom: 8px;
    font-size: 12px;
}

.cart-item > img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.cart-info-outer {
    height: 80%;
    width: 100%;
}

.cart-info {
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 16px;
}

.cart-pricequantity {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-price {
    color: var(--AFRICAN_VIOLET);
}

.cart-pricequantity button {
    font-weight: 700;
    background-color: var(--AFRICAN_VIOLET);
    color: var(--WHITE);
    padding: 2px 4px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-quantity-container > input {
    border: 0;
    padding: 0;
    margin: 0;
    width: 17px;
}

.cart-item-remove {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    background-color: var(--AFRICAN_VIOLET);
    color: var(--WHITE);
    padding: 2px 4px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-item-total {
    color: var(--AFRICAN_VIOLET);
}

.hidden-update-item {
    display: hidden;
}

.hidden-remove-item {
    display: hidden;
}

.cart-totals-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-totals-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 8px;
}

.delivery {
    color: var(--AFRICAN_VIOLET);
    font-size: 14px;
}

.grand-total > p:first-child {
    font-size: 18px;
}

.cart-buttons {
    display: none;
}

/* Allauth */

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Foundation layouts */

.foundation-base {
    background-color: var(--OFFWHITE);
}

.foundation-wrapper {
    background-color: var(--WHITE);
    margin: 0 auto;
    padding: 24px 8px;
    min-height: 80vh;
}

.foundation-fw {
    width: 100%;
    height: 100%;
}

/* Dumb elements */

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: var(--ORCHID_CRAYOLA);
    color: white;
    height: 40px;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.secondary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: var(--WHITE);
    border: 1px solid var(--AFRICAN_VIOLET);
    color: var(--AFRICAN_VIOLET);
    height: 40px;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.primary-btn:hover,
.primary-btn:active {
    text-decoration: none;
    color: var(--WHITE);
    opacity: 0.9;
}

.secondary-btn:hover,
.secondary-btn:active {
    text-decoration: none;
    color: var(--AFRICAN_VIOLET);
    opacity: 0.9;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.lg {
    height: 48px;
}

.sm {
    font-size: 12px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb16 {
    margin-bottom: 16px;
}

.fake-btn {
    border: none;
    outline: none;
}

.fake-anchor {
    text-decoration: none !important;
    color: var(--OFFBLACK);
}

.card {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--OFFWHITE);
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.card-image {
    height: 120px;
    width: 100%;
}

.card-image > img {
    width: 100%;
    height: 100%;
    border-radius: 8px 0 0 8px;
    object-fit: cover;
}

.card-data {
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sticky-buttons-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: var(--OFFWHITE);
    padding: 8px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.06), 
              0 -2px 2px rgba(0,0,0,0.06), 
              0 -4px 4px rgba(0,0,0,0.06);
    transition: transform 200ms ease-in-out;
    z-index: 9999;
}

.tags {
    display: flex;
}

.tags > * {
    text-decoration: none;
    font-size: 12px;
    background-color: var(--PURPLE);
    border: 1px solid var(--PURPLE_PLUM);
    color: var(--WHITE);
    padding: 6px 12px;
    border-radius: 16px;
    margin-right: 8px;
    transition: all 100ms linear;
}

.tags > *:hover {
    background-color: var(--WHITE);
    color: var(--PURPLE);
    border: 1px solid var(--PURPLE);
}

/* Icons */

.fa-bars {
    color: var(--PURPLE_PLUM);
}

.fa-times {
    color: var(--PURPLE_PLUM);
}

.fa-search {
    color: var(--OFFWHITE);
}

.fa-user-circle {
    color: var(--PURPLE_PLUM);
}

.fa-shopping-cart {
    color: var(--PURPLE_PLUM);
}

.fa-sign-out-alt {
    color: var(--PURPLE_PLUM);
}

.fa-heart {
    color: var(--PURPLE_PLUM);
}

/* Animations */

@keyframes headerDropdown {
    from {
        transform: translateY(-80vh);
    }

    to {
        transform: translateY(0);
    }
}

/* Medium */
@media only screen and (min-width: 768px) {
    .header-search {
        display: block;
        width: 60vw;
    }

    .home-search-container {
        display: none;
    }

    .home-container {
        height: 90vh;
        width: auto;
    }

    .toggle-dropdown {
        display: none;
    }

    .header-icons-container {
        display: flex;
        align-items: center;
    }

    .header-icons-container > a {
        margin-right: 32px;
    }

    .header-icons-container > a:last-child {
        margin-right: 0;
    }

    .icon-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0;
        background-color: var(--OFFWHITE);
        border-radius: 12px;
        padding: 4px;
        transition: background-color 200ms ease-in-out;
        color: var(--OFFBLACK);
        text-decoration: none !important;
    }

    .icon-wrapper:hover {
        background-color: var(--WHITE);
    }

    .icon-wrapper > i {
        margin-bottom: 8px;
    }

    .header-nav {
        display: block;
        background-color: var(--AFRICAN_VIOLET);
        padding: 10px 24px;
        height: 44px;
        z-index: 9900;
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
    }

    .nav-items-primary {
        display: flex;
        position: relative;
    }

    .nav-items-wrapper > p {
        font-size: 24px;
        color: var(--WHITE);
        margin-right: 48px;
        cursor: pointer;
    }

    .nav-items-wrapper > .nav-items-secondary {
        display: none;
    }

    .nav-items-wrapper:hover > .nav-items-secondary {
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    .nav-items-secondary {
        background-color: var(--AFRICAN_VIOLET);
        padding: 24px 8px 8px 12px;
        width: 250px;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
    }

    .nav-items-secondary > a {
        color: white;
        margin-bottom: 12px;
        font-size: 18px;
    }

    .header-offset {
        margin-top: 144px;
    }

    .hero-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .home-hero-text {
        position: absolute;
        top: 48px;
        left: initial;
        width: 600px;
        right: 0px;
        font-size: 48px;
        line-height: 1.8em;
        color: var(--OFFWHITE);
    }
    
    .home-hero-btn {
        position: absolute;
        top: 400px;
        right: 100px;
    }

    /* Products page */

    .products-title {
        font-size: 48px;
        margin-bottom: 48px;
    }

    .products-wrapper {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        row-gap: 48px;
    }

    /* Product page */

    .product-data {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 28px;
    }

    .product-information {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .product-description {
        order: 1;
    }

    .product-category {
        font-size: 18px;
        color: var(--PASTEL_PINK);
        order: 2;
    }

    .product-quantity {
        font-size: 14px;
        order: 3;
    }

    .product-pricerating {
        order: 4;
    }

    .product-form {
        order: 5;
    }

    .product-buttons {
        display: flex;
        flex-direction: column;
    }

    .why-buy-banner {
        padding: 24px 36px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        column-gap: 28px;
    }

    .why-buy-title {
        font-size: 36px;
        margin-bottom: 0;
    }

    .why-buy-grid {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 16px;
    }

    .why-buy-item {
        display: grid;
        grid-template-columns: 48px 1fr;
        column-gap: 4px;
    }

    .why-buy-item-reverse {
        grid-template-columns: 1fr 48px;
    }

    .mobile-super-user {
        display: none;
    }
    /* Cart Page */

    .cart-info {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        justify-content: center;
    }
    
    .cart-pricequantity {
        justify-content: space-evenly;
    }

    .cart-pricequantity button {
        font-size: 18px;
        padding: 4px;
    }

    .cart-quantity-container > input {
        width: 25px;
    }

    .cart-totals-wrapper {
        width: 400px;
        margin: 0 0 0 auto;
    }

    .cart-totals-item {
        font-size: 18px;
    }

    .grand-total {
        font-size: 24px;
    }

    .cart-buttons {
        display: flex;
        flex-direction: column;
    }

    .cart-buttons > button:first-child {
        margin-bottom: 8px;
    }

    /* Foundations */

    .foundation-wrapper {
        padding: 48px 24px;
    }

    .foundation-fw {
        width: 700px;
        margin: 0 auto;
    }

    /* Dummy Elements */

    .card {
        height: 300px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    
    .card-image {
        height: 100%;
        width: 100%;
    }
    
    .card-image > img {
        border-radius: 8px 8px 0 0;
    }

    .sticky-buttons-wrapper {
        display: none;
    }

    .mb16-md {
        margin-bottom: 16px;
    }

    .grow {
        height: 48px;
    }
}

/* Large */
@media only screen and (min-width: 1004px) {
    .header-search {
        width: 80vw;
    }

    /* Products page */

    .products-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .products-name {
        font-size: 16px;
    }

    /* Foundations */

    .foundation-fw {
        width: 1000px;
        margin: 0 auto;
    }

    /* Dummy elements */

    .mb16-lg {
        margin-bottom: 16px;
    }
}

/* Extra Large */
@media only screen and (min-width: 1204px) {
    /* Foundations */

    .foundation-wrapper {
        width: 1200px;
    }

    .foundation-fw {
        width: 1200px;
        margin: 0 auto;
    }

    .mb16-xl {
        margin-bottom: 16px;
    }
}