:root {
    --WHITE: #FFFFFF;
    --OFFWHITE: #F2F2F2;
    --BLACK: #000000;
    --OFFBLACK: #0D0D0D;
    --PURPLE: #531CB3;
    --PURPLE_PLUM: #944BBB;
    --AFRICAN_VIOLET: #AA7BC3;
    --ORCHID_CRAYOLA: #CC92C2;
    --PASTEL_PINK: #DBA8AC;
}

body {
    font-family: 'PT Mono', monospace;
}

header {
    display: block;
    position: fixed;
    width: 100%;
    background-color: var(--OFFWHITE);
    height: 100px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9900;
}

.header-offset {
    padding-top: 100px;
}

.site_logo {
    font-size: 24px;
    color: var(--PURPLE_PLUM);
}

.header-search {
    display: none;
}

.header-nav {
    display: none;
}

.header-icons-container {
    display: none;
}

.header-dropdown {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    border-radius: 0 0 24px 24px;
    background-color: var(--OFFWHITE);
    height: 60vh;
    animation: headerDropdown 800ms ease-in-out forwards;
    z-index: 9000;
    padding: 24px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.dropdown-close {
    top: -60vh;
    transition: top 800ms ease-in-out;
}

.dd-auth {
    margin-bottom: 18px;
}

.dd-section {
    margin-bottom: 24px;
}

.dd-section > p {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 8px;
}

.dd-ul {
    margin-bottom: 16px;
}

.dd-ul > a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}

/* Banner */

.message-container {
    background-color: var(--OFFBLACK);
    padding: 12px;
    font-size: 14px;
    color: var(--PASTEL_PINK);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
}

/* Footer */

footer {
    background-color: var(--OFFBLACK);
    color: white;
    height: 40vh;
    padding: 18px;
}

/* Homepage */

.home-search-container {
    background-color: var(--PURPLE);
    padding: 28px 24px 48px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search-form > label {
    color: var(--WHITE);
    font-size: 28px;
    margin-bottom: 16px;
 }

.input-container {
    position: relative;
}

.search-container {
    position: relative;
    height: 48px;
    display: flex;
    max-width: 700px;
}

.search-container > input {
    border: 0;
    outline: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 0 8px;
    font-size: 18px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.search-container > input::placeholder {
    color: var(--PASTEL_PINK);
}

.search-container > input:focus {
    border-radius: 8px 8px 0 0;
}

.search-container > input:focus ~ button {
    border-radius: 8px 8px 0 8px;
}

.search-container > button {
    border: 0;
    outline: 0;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    /* height: 48px; */
    width: 48px;
    border-radius: 8px;
    background-color: var(--PASTEL_PINK);
}

.search-suggestions {
    background-color: var(--WHITE);
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    max-width: 700px;
    padding: 8px 0;
    border-radius: 0 0 8px 8px;
    z-index: 9000;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.search-items > li {
    padding: 8px;
    cursor: pointer;
}

.search-items > li:hover {
    background-color: var(--OFFWHITE);
}

.home-container {
    background: url('/media/homepage_hero.jpg') no-repeat center center fixed;
    background-size: cover; 
    height: 400px;
    width: auto;
}

.home-hero-overlay {
    background-color:rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    position: relative;
}

.home-hero-text {
    position: absolute;
    top: 36px;
    left: 24px;
    font-size: 1.5em;
    line-height: 1.8em;
    width: 80vw;
    color: var(--OFFWHITE);
}

.home-hero-btn {
    position: absolute;
    bottom: 36px;
    right: 24px;
}

/* Foundation layouts */

.foundation-fw {
    width: 100%;
    height: 100%;
}

/* Dumb elements */

.primary-btn {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: var(--ORCHID_CRAYOLA);
    color: white;
    height: 40px;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.primary-btn:hover,
.primary-btn:active {
    opacity: 0.9;
}

.lg {
    height: 48px;
}

.fake-btn {
    border: none;
    outline: none;
}

/* Icons */

.fa-bars {
    color: var(--PURPLE_PLUM);
}

.fa-times {
    color: var(--PURPLE_PLUM);
}

.fa-search {
    color: var(--OFFWHITE);
}

.fa-user-circle {
    color: var(--PURPLE_PLUM);
}

.fa-shopping-cart {
    color: var(--PURPLE_PLUM);
}

/* Animations */

@keyframes headerDropdown {
    from {
        transform: translateY(-80vh);
    }

    to {
        transform: translateY(0);
    }
}

/* Medium */
@media only screen and (min-width: 768px) {
    .header-search {
        display: block;
        width: 60vw;
    }

    .home-search-container {
        display: none;
    }

    .home-container {
        height: 90vh;
        width: auto;
    }

    .toggle-dropdown {
        display: none;
    }

    .header-icons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
    }

    .icon-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0;
        background-color: var(--OFFWHITE);
        border-radius: 12px;
        padding: 4px;
        transition: background-color 200ms ease-in-out;
    }

    .icon-wrapper:hover {
        background-color: var(--WHITE);
    }

    .icon-wrapper > i {
        margin-bottom: 8px;
    }

    .header-nav {
        display: block;
        background-color: var(--AFRICAN_VIOLET);
        padding: 8px 24px;
        z-index: 9900;
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
    }

    .nav-items-primary {
        display: flex;
        position: relative;
    }

    .nav-items-wrapper > p {
        font-size: 28px;
        color: var(--WHITE);
        margin-right: 48px;
        cursor: pointer;
    }

    .nav-items-wrapper > .nav-items-secondary {
        display: none;
    }

    .nav-items-wrapper:hover > .nav-items-secondary {
        display: block;
        position: absolute;
    }

    .nav-items-secondary {
        background-color: var(--AFRICAN_VIOLET);
        padding: 24px 8px 8px;
        width: 150px;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
    }

    .nav-items-secondary > p {
        color: white;
        margin-bottom: 16px;
        font-size: 18px;
    }

    .foundation-fw {
        width: 700px;
        margin: 0 auto;
    }

    .hero-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

/* Large */
@media only screen and (min-width: 1004px) {
    .header-search {
        width: 80vw;
    }

    .foundation-fw {
        width: 1000px;
        margin: 0 auto;
    }
}