{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="cart">
        <div class="foundation-base">
            <div class="foundation-wrapper">
                <h1 class='cart-title'>Shopping Cart</h1>
                {% if cart_items %}
                <div class='total-heading'>TOTAL</div>
                <div class='cart-wrapper'>
                    {% for item in cart_items %}
                    <form class="cart-item" method="POST" action="{% url 'update_cart' item.product.id %}">
                        {% csrf_token %}
                        <img src="{{ item.product.image_url }}" alt="cart item">
                        <div class="cart-info-outer">
                            <div class="cart-info">
                                <h4>{{ item.product.name|truncatechars:30 }}</h4>
                                <div class="cart-pricequantity">
                                    <p class='cart-item-price'>${{ item.product.price }}</p>
                                    <div class="cart-quantity-container">
                                        <button type='button' data-item-id='{{ item.product.id }}' class='decrement-qty' id='decrement-qty-{{ item.product.id }}'>-</button> 
                                        <!-- <p>{{ item.quantity }}</p> -->
                                        <input class="qty_input" type="number" name="quantity" value="{{ item.quantity }}"
                                        min="1" max="99" data-item_id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}"/>
                                        <button type='button' data-item-id='{{ item.product.id }}' class='increment-qty' id='increment-qty-{{ item.product.id }}'>+</button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class='cart-item-total'>${{ item.product.price }}</p>
                        <button type='button' class="remove-item cart-item-remove" id="remove_{{ item.product.id }}">X</button>
                    </form>
                    <a class="hidden-update-item"></a>
                    <a class="hidden-remove-item" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"></a>
                    {% endfor %}
                </div>
                <div class="cart-totals-wrapper">
                    <div class='cart-totals-item cart-total'>
                        <p>Cart total</p>
                        <p>${{ total|floatformat:2}}</p>
                    </div>
                    <div class='cart-totals-item delivery'>
                        <p>Delivery</p>
                        <p>${{ delivery|floatformat:2}}</p>
                    </div>
                    <div class='cart-totals-item grand-total'>
                        <p>Grand total</p>
                        <p>${{ grand_total|floatformat:2}}</p>
                    </div>
                    <div class="cart-buttons">
                        <button href="{% url 'products' %}" class='secondary-btn lg'>Go back</button>
                        <button href="{% url 'products' %}" class='primary-btn lg'>Payment</button>
                    </div>
                </div>
                <div class="sticky-buttons-wrapper">
                    <button href="{% url 'products' %}" class='secondary-btn sm'>Go back</button>
                    <button href="{% url 'products' %}" class='primary-btn sm'>Payment</button>
                </div>
                {% else %}
                <p>Your cart is empty!</p>
                {% endif %}
            </div>
            {% if related_products_cart %}
            <div class="foundation-wrapper">
                <h4 class='related-products-title'>You may also like</h4>
                <div class='products-wrapper'>
                {% for related_product in related_products_cart|slice:":4" %}
                    <a class='fake-anchor' href="{% url 'product_detail' related_product.id %}">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ related_product.image_url}}"/>
                        </div>
                        <div class="card-data">
                            <p class="products-name">{{ related_product.name|truncatechars:30 }}</p>
                            <p class="products-category">in {{ related_product.category.friendly_name }}</p>
                            <div class="products-pricerating">
                                <p class="products-price">€{{ related_product.price|floatformat:"2g" }}</p>
                                <p class="products-rating">{{ related_product.rating }}</p>
                            </div>
                        </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function(event) {
        console.log('remove item')
        const csrfToken = "{{ csrf_token }}";
        const itemId = $(this).attr('id').split('remove_')[1];
        const url = `/cart/remove/${itemId}`;
        const data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data).done(function(){
            location.reload()
        });
    });
</script>
{% endblock %}