<script>
    // Increment quantity
    $('.increment-qty').click(function(event) {
       event.preventDefault();
       console.log('JS: increment quantity');
       const closestInput = $(this).closest('.cart-quantity-container').find('.qty_input')[0];
       const currentValue = parseInt($(closestInput).val());
       if(currentValue < 99){
           $(closestInput).val(currentValue + 1);
           const itemId = $(this).data('item_id');
           const form = $(this).closest('.cart-item');
           form.submit();
       }
    //    then submit form
    });

    // Decrement quantity
    $('.decrement-qty').click(function(event) {
       event.preventDefault();
       console.log('JS: decrement quantity');
       const closestInput = $(this).closest('.cart-quantity-container').find('.qty_input')[0];
       const currentValue = parseInt($(closestInput).val());
       if(currentValue > 1){
            $(closestInput).val(currentValue - 1);
            const itemId = $(this).data('item_id');
            const form = $(this).closest('.cart-item');
            form.submit();
       }
    });
</script>