{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
      {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/1997032819.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Revaamp {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header>
        <h2 class='site_logo'>REVAAMP</h2>

        <div class="header-search">
          <form class='search-form'>
            <!-- <label for="search">Search Revaamp</label> -->
            <div class="input-container">
                <div class='search-container'>
                    <input type="text" name='search' id='search' placeholder="Search laptops" autocomplete="off">
                    <button type='submit'><i class="fas fa-search fa-lg"></i></button>
                </div>
                <!-- <div class="search-suggestions">
                    <ul class='search-items'>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                </div> -->
            </div>
        </form>
  
        </div>
        
        <button class='fake-btn toggle-dropdown'><i class="fas fa-bars fa-2x"></i></button>
        <div class="header-icons-container">
          <button class="icon-wrapper">
            <i class="fas fa-user-circle fa-2x"></i>
            <p>Account</p>
          </button>
          <button class="icon-wrapper">
            <i class="fas fa-shopping-cart fa-2x"></i>
            <p>$0.00</p>
          </button>
        </div>
    </header>
    <div class="header-nav">
      <div class="nav-items-primary">
        <div class="nav-items-wrapper">
          <p>All Products</p>
          <div class='nav-items-secondary'>
            <p>By Price</p>
            <p>By Rating</p>
            <p>By Category</p>
            <p>All Products</p>
          </div>
        </div>
        <div class="nav-items-wrapper">
          <p>Laptops</p>
          <div class='nav-items-secondary'>
            <p>Apple Laptops</p>
            <p>Lenovo Laptops</p>
            <p>Tablets</p>
            <p>All Laptops</p>
          </div>
        </div>
        <div class="nav-items-wrapper">
          <p>PCs</p>
          <div class='nav-items-secondary'>
            <p>Apple Macs</p>
            <p>Dell Home Computers</p>
            <p>Gaming PCs</p>
            <p>All PCs</p>
          </div>
        </div>
        <div class="nav-items-wrapper">
          <p>Accessories</p>
          <div class='nav-items-secondary'>
            <p>Keyboards</p>
            <p>Mice</p>
            <p>Headphones</p>
            <p>All Accessories</p>
          </div>
        </div>
      </div>
    </div>
    <div class=header-dropdown>
      <div class='dd-auth'>
        <p>Login / Signup</p>
      </div>
      <div class='dd-sections'>
        <div class="dd-section">
          <p>LAPTOPs</p>
          <ul class='dd-ul'>
            <a href=""><li>Apple Laptops</li></a>
            <a href=""><li>Dell laptops</li></a>
            <a href=""><li>Tablets</li></a>
            <a href=""><li>Other</li></a>
          </ul>
        </div>
        <div class="dd-section">
          <p>PCs</p>
          <ul class='dd-ul'>
            <a href=""><li>Apple iMacs</li></a>
            <a href=""><li>Dell home computers</li></a>
            <a href=""><li>Custom PC builds</li></a>
            <a href=""><li>Other</li></a>
          </ul>
        </div>
        <div class="dd-section">
          <p>ACCESSORIES</p>
          <ul class='dd-ul'>
            <a href=""><li>Headphones</li></a>
            <a href=""><li>Keyboards</li></a>
            <a href=""><li>Mice</li></a>
            <a href=""><li>Other</li></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-offset">
    {% if messages %}
      <div class="message-container">Free delivery on orders over $50</div>
    {% endif %}
    
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    {% block postloadjs %}
    {% endblock %}
    
    <footer>
      This is the footer
    </footer>
  </div>
  </body>
</html>